.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.enableHover{
	cursor: pointer;
}

.well hr{
	margin-top: 10px;
	margin-bottom:10px;
}